.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

#range-slider {
  margin: auto;
  width: 80%;
  height: 22px;
  background: #333;
  overflow: hidden;
}

#range-slider .range-slider__thumb {
  padding: 0;
  margin: 0;
  width: 8px;
  height: 60px;
  border-radius: 4px;
  background: #19931d;
  background-repeat: no-repeat;
  background-position: center;
}

#range-slider .range-slider__range {
  padding: 0;
  border-radius: 2px;
  background: transparent;
  border: 1px solid #fff;
  box-sizing: border-box;
  box-shadow: 0 0 0 9999px rgba(255, 255, 255, 0.75);
}

.range-slider .range-slider__thumb[data-active] {
  transform: translate(-50%, -50%) scale(1.1);
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.groupy {
  margin: 30px 30px;
  background-color: #cccccc7d;
  display: flex;
  flex-wrap: wrap;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}